@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu/ubuntu-v20-latin-regular.eot') format('embedded-opentype'),
         url('../fonts/Ubuntu/ubuntu-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/Ubuntu/ubuntu-v20-latin-regular.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-v20-latin-regular.woff2') format('woff2');
}

*{
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
}

main{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

@media screen and (max-width: 600px) {

    #large-screen-show{
        display: none;
    }

    #medium-screen-show{
        display: none;
    }

    #small-screen-show{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 95px;
        flex-wrap: wrap;
        gap: 20px;
        }


    .top-container, .bottom-container{    
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        }

        .name-container{
            width: 100%;
            }

            .name-container h1{
                width: 100%;
                text-align: center;
                color: rgb(255, 153, 102);
                border-bottom: 1px solid rgb(255, 153, 102);
        }

        .image-holder{
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            }
            
            .image-holder img{
                width: 310px;
                height: 200px;
                border-radius: 5px;
        }

        .info-text{
            width: 100%;
            padding: 10px;
            font-size: 1rem;
        }

        .info-table{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            }

            table, th, td{
                border: 1px solid rgb(255, 153, 102);
                border-collapse: collapse;
                }

            table{
                width: 100%;
                height: 200px;
                background-color: rgb(230, 230, 230);
                }
                
                td, th{
                    color: rgb(0, 0, 0);
                }
                
                th{
                    text-align: center;
                    font-size: 1rem;
                }

                td{
                    padding: 2px;
                    }

                    td:nth-child(odd){
                        font-weight: bold;
        }
        
        .table-info{
            width: 100%;
            }

            .table-info h4{
                width: 100%;
                text-align: center;
                margin-top: 15px;
                border-top: 1px solid rgb(255, 153, 102);
            }

            .table-info p{
                padding: 10px;
                font-size: 0.9rem;
            }
        
        .media-section{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 98%;
            margin: 0 1%;
            padding: 3px;
            justify-content: center;
            align-content: center;
            border: 1px solid rgb(255, 153, 102);
            border-radius: 5px;
            }

            #fullpage {
                display: none;
                position: absolute;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-size: contain;
                background-repeat: no-repeat no-repeat;
                background-position: center center;
                background-color: rgb(30, 30, 30);
            }

            .media-section ul{
                list-style: none;
                margin-left: 0;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                }

                .media-section ul .hochkant{
                    display: flex;
                    width: 100px;
                    height: 150px;
                    justify-content: center;
                    align-items: center;
                    }

                    .media-section ul .hochkant img{
                        height: 100%;
                        width: auto;
                }

                .media-section ul .quer{
                    width: 150px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-self: center;
                    }

                    .media-section ul .quer img{
                        width: 100%;
                        height: auto;
            }

            .media-section ul .video{
                display: flex;
                justify-content: center;
                align-content: center;
                align-self: center;
                width: 150px;
                height: 100px;
                border: 1px solid rgb(255, 153, 102);
                }

                .media-section ul .video video{
                    width: 100%;
                    height: auto;
                    }

                    .media-section ul .video video:hover{
                        cursor: pointer;
                    }
            
            .media-section h2{
                width: 100%;
                text-align: center;
                color: rgb(255, 153, 102);
                border-bottom: 1px solid rgb(255, 153, 102);
            }


    
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

    #large-screen-show{
        display: none;
    }

    #small-screen-show{
        display: none;
    }

    #medium-screen-show{
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        margin-top: 95px;
        flex-flow: column;
    }

    .medium-top-container{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        gap: 5px;
        align-self: center;
        justify-content: center;
        }

        .name-container{
            width: 100%;
            }

            .name-container h1{
                text-align: center;
                width: 100%;
                color: rgb(255, 153, 102);
                border-bottom: 1px solid rgb(255, 153, 102);
                margin-bottom: 5px;
        }
        
        .image-holder{
            width: 420px;
            height: 236px;

            }
            .image-holder img{
                width: 100%;
                height: 100%;
        }
        
        .info-table{
            max-width: 100%;
            min-width: 45%;
            display: flex;
            flex: 1 1;
            align-self: center;
            }

            table, th, td{
                border: 2px solid rgb(255, 153, 102);
                border-collapse: collapse;
                }

            table{
                width: 100%;
                height: 200px;
                background-color: rgb(230, 230, 230);
                }
                
                td, th{
                    color: rgb(0, 0, 0);
                }
                
                th{
                    text-align: center;
                    font-size: 1.5rem;
                }

                td{
                    padding: 2px;
                    }

                    td:nth-child(odd){
                        font-weight: bold;
    }
    
    .medium-bottom-container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        }

        .info-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 5px;
            width: 95%;
            align-self: center;
            margin: 10px 0;
            border-top: 1px solid rgb(255, 153, 102);
            border-bottom: 1px solid rgb(255, 153, 102);
        }
        
        .media-section{
            display: flex; 
            flex-wrap: wrap;
            width: 95%;
            border: 2px solid rgb(255, 153, 102);
            border-radius: 10px;
            padding: 3px;
            align-self: center;
            }

            #fullpage {
                display: none;
                position: absolute;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-size: contain;
                background-repeat: no-repeat no-repeat;
                background-position: center center;
                background-color: rgb(30, 30, 30);
            }

            .media-section ul{
                list-style: none;
                margin-left: 0;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 5px;
                }

                .media-section ul .hochkant{
                    display: flex;
                    width: 100px;
                    height: 150px;
                    justify-content: center;
                    align-items: center;
                    }

                    .media-section ul .hochkant img{
                        height: 100%;
                        width: auto;
                        }

                        .media-section ul .hochkant img:hover{
                            cursor: pointer;
                        }

                .media-section ul .quer{
                    width: 150px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-self: center;
                    }

                    .media-section ul .quer img{
                        width: 100%;
                        height: auto;
                        }

                        .media-section ul .quer img:hover{
                            cursor: pointer;
                }        
                
                .media-section ul .video{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-self: center;
                    width: 150px;
                    height: 100px;
                    border: 1px solid rgb(255, 153, 102);
                    }

                    .media-section ul .video video{
                        width: 100%;
                        height: auto;
                        }

                        .media-section ul .video video:hover{
                            cursor: pointer;
                        }
            
                .media-section h2{
                    width: 100%;
                    text-align: center;
                    color: rgb(255, 153, 102);
                    border-bottom: 1px solid rgb(255, 153, 102);
    }
    
    .table-info{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        border-top: 1px solid rgb(255, 153, 102);
        margin-top: 20px;
        }
        
        .table-info h4{
            text-align: center;
            width: 100%;
        }
        
        .table-info p{
            padding: 5px;
        }

}

@media screen and (min-width: 1025px) and (max-width: 1499px) {

    #small-screen-show{
        display: none;
    }

    #medium-screen-show{
        display: none;
    }

    #large-screen-show{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 95px;
        gap: 15px;
        }
    
        .left-container{
            width: 500px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
            margin-left: 5px;
            }
    
            .name-container{
                display: flex;
                width: 100%;
                }
    
                .name-container h1{
                    text-align: center;
                    width: 100%;
                    color: rgb(255, 153, 102);
                    border-bottom: 1px solid rgb(255, 153, 102);
                    margin-bottom: 5px;
                }
    
            .image-holder{
                width: 100%;
                height: 281px;
                }
    
                .image-holder img{
                    width: 500px;
                    height: 281px;
                    border-radius: 5px;
                }
    
            .info-table{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                }
    
                table, th, td{
                    border: 2px solid rgb(255, 153, 102);
                    border-collapse: collapse;
                    }
    
                table{
                    width: 100%;
                    height: 200px;
                    background-color: rgb(230, 230, 230);
                    }
                    
                    td, th{
                        color: rgb(0, 0, 0);
                    }
                    
                    th{
                        text-align: center;
                        font-size: 1.5rem;
                    }
    
                    td{
                        padding: 3px;
                        }
    
                        td:nth-child(odd){
                            font-weight: bold;
                }
                
                .table-info{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-self: flex-end;
                    border-top: 1px solid rgb(255, 153, 102);
                    margin-top: 20px;
                    }
                    
                    .table-info h4{
                        text-align: center;
                        width: 100%;
                    }
                    
                    .table-info p{
                        padding: 5px;
                    }
    
        .right-container{
            max-width: 1000px;
            min-width: 500px;
            flex: 1 1;
            display: flex;
            flex-wrap: wrap;
            margin-right: 5px;
            }
    
            .info-text{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                margin-top: 20px;
                padding: 5px;
                }

                .info-text p{
                    padding: 0 10px;
                    width: 100%;
                }
    
            .media-section{
                display: flex; 
                flex-wrap: wrap;
                width: 100%;
                border: 2px solid rgb(255, 153, 102);
                border-radius: 10px;
                padding: 3px;
                }

                #fullpage {
                    display: none;
                    position: absolute;
                    z-index: 9999;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-size: contain;
                    background-repeat: no-repeat no-repeat;
                    background-position: center center;
                    background-color: rgb(30, 30, 30);
                }

                .media-section ul{
                    list-style: none;
                    margin-left: 0;
                    padding-left: 0;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 5px;
                    }

                    .media-section ul .hochkant{
                        display: flex;
                        width: 100px;
                        height: 150px;
                        justify-content: center;
                        align-items: center;
                        }

                        .media-section ul .hochkant img{
                            height: 100%;
                            width: auto;
                            }

                            .media-section ul .hochkant img:hover{
                                cursor: pointer;
                            }

                    .media-section ul .quer{
                        width: 150px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-self: center;
                        }

                        .media-section ul .quer img{
                            width: 100%;
                            height: auto;
                            }

                            .media-section ul .quer img:hover{
                                cursor: pointer;
                    }        
                    
                    .media-section ul .video{
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-self: center;
                        width: 150px;
                        height: 100px;
                        border: 1px solid rgb(255, 153, 102);
                        }

                        .media-section ul .video video{
                            width: 100%;
                            height: auto;
                            }

                            .media-section ul .video video:hover{
                                cursor: pointer;
                            }
                
                .media-section h2{
                    width: 100%;
                    text-align: center;
                    color: rgb(255, 153, 102);
                    border-bottom: 1px solid rgb(255, 153, 102);
                }
    
}

@media screen and (min-width: 1500px){

    #small-screen-show{
        display: none;
    }

    #medium-screen-show{
        display: none;
    }

    #large-screen-show{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 95px;
        gap: 15px;
        }
    
        .left-container{
            width: 600px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
            margin-left: 5px;
            }
    
            .name-container{
                display: flex;
                width: 100%;
                }
    
                .name-container h1{
                    text-align: center;
                    width: 100%;
                    color: rgb(255, 153, 102);
                    border-bottom: 1px solid rgb(255, 153, 102);
                    margin-bottom: 5px;
                }
    
            .image-holder{
                width: 100%;
                height: 338px;
                }
    
                .image-holder img{
                    width: 600px;
                    height: 338px;
                    border-radius: 5px;
                }
    
            .info-table{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                }
    
                table, th, td{
                    border: 2px solid rgb(255, 153, 102);
                    border-collapse: collapse;
                    }
    
                table{
                    width: 100%;
                    height: 200px;
                    background-color: rgb(230, 230, 230);
                    }
                    
                    td, th{
                        color: rgb(0, 0, 0);
                    }
                    
                    th{
                        text-align: center;
                        font-size: 1.5rem;
                    }
    
                    td{
                        padding: 3px;
                        }
    
                        td:nth-child(odd){
                            font-weight: bold;
                }
                
                .table-info{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-self: flex-end;
                    border-top: 1px solid rgb(255, 153, 102);
                    margin-top: 20px;
                    }
                    
                    .table-info h4{
                        text-align: center;
                        width: 100%;
                    }
                    
                    .table-info p{
                        padding: 5px;
                    }
    
        .right-container{
            width: 1000px;
            display: flex;
            flex-wrap: wrap;
            margin-right: 5px;
            }
    
            .info-text{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                margin-top: 20px;
                }

                .info-text p{
                    padding: 0 10px;
                    width: 100%;
                }
    
            .media-section{
                display: flex; 
                flex-wrap: wrap;
                width: 100%;
                border: 2px solid rgb(255, 153, 102);
                border-radius: 10px;
                padding: 3px;
                }

                #fullpage {
                    display: none;
                    position: absolute;
                    z-index: 9999;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-size: contain;
                    background-repeat: no-repeat no-repeat;
                    background-position: center center;
                    background-color: rgb(30, 30, 30);
                }

                .media-section ul{
                    list-style: none;
                    margin-left: 0;
                    padding-left: 0;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 5px;
                    }

                    .media-section ul .hochkant{
                        display: flex;
                        width: 100px;
                        height: 150px;
                        justify-content: center;
                        align-items: center;
                        }

                        .media-section ul .hochkant img{
                            height: 100%;
                            width: auto;
                            }

                            .media-section ul .hochkant img:hover{
                                cursor: pointer;
                            }

                    .media-section ul .quer{
                        width: 150px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-self: center;
                        }

                        .media-section ul .quer img{
                            width: 100%;
                            height: auto;
                            }

                            .media-section ul .quer img:hover{
                                cursor: pointer;
                    }        
                    
                    .media-section ul .video{
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-self: center;
                        width: 150px;
                        height: 100px;
                        border: 1px solid rgb(255, 153, 102);
                        }

                        .media-section ul .video video{
                            width: 100%;
                            height: auto;
                            }

                            .media-section ul .video video:hover{
                                cursor: pointer;
                            }
                
                .media-section h2{
                    width: 100%;
                    text-align: center;
                    color: rgb(255, 153, 102);
                    border-bottom: 1px solid rgb(255, 153, 102);
                }

}