@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu/ubuntu-v20-latin-regular.eot') format('embedded-opentype'),
         url('../fonts/Ubuntu/ubuntu-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/Ubuntu/ubuntu-v20-latin-regular.woff') format('woff'),
         url('../fonts/Ubuntu/ubuntu-v20-latin-regular.woff2') format('woff2');
}

*{
    margin: 0;
    box-sizing: border-box;    
}        

header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-content: center;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgb(51, 0, 102);
    opacity: 0.9;
    box-shadow: 0 2px rgb(102, 102, 102);
    top: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    }
    
    a{
    text-decoration: none;
}    


.orgname-and-logo-wrapper{
    display: flex;
    justify-content: space-evenly;
    }   
    
    .logo-holder .logo{
        display: flex;
        width: 90px;
        height: 90px;
        }
    
        .logo-holder .logo img{
            height: 90px;
            width: 90px;
            }
    
    .orgname-and-logo-wrapper .orgname{
        margin-left: 5px;
        display: flex;
        }
    
        .orgname .org{
            align-self: center;
            color: rgb(255, 186, 82);
            font-weight: bold;
            font-size: 2rem;
            opacity: 1;
}            


.navbar{
    display: inline-flex;
    flex-wrap: wrap;
    }
    
    .navbar ul{
        display: flex;
        justify-content: space-evenly;
        }
    
        .navbar ul li{
            display: inline-block;
            align-self: center;
            font-size: 1.05rem;
            }
        
            .navbar ul li a{
                display: inline-block;
                color: rgb(255, 186, 82);  
                border-radius: 5px;
                flex-shrink: 1;
                }
                
                .navbar ul li a:hover{
                    text-decoration: underline;
                    font-weight: bold;
                    background-image: linear-gradient( rgb(51, 0, 102), rgb(51, 51, 102) );
                }
                
                .navbar ul li a:active{
                    text-decoration: none;
                    background-image: linear-gradient( rgb(51, 51, 102), rgb(51, 0, 102) );
                }
                
                .navlink-wrapper{
                    padding: 30px 2vw;
                    margin: 5px;
                    border-radius: 5px;
}                